body
{
	font-family: sans-serif;
	color:#78909C;
}
header
{
	font-weight:bold;
}
#all
{
	display: flex;
	flex-direction: column;
}
.head
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.photo
{ 
	background-color:#C0CA33;
	height: 100%;
	text-align: center;
	min-width: 35%;
	padding-top: 5%;
	padding-bottom: 1%;
}
.titre
{
	min-width: 65%;
	padding: 5%;

}
.infos
{
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}
.texte
{
	min-width: 65%;
	text-align: justify
	padding:5%;
}

#corps
{
	display:flex;
	justify-content: space-around;
	flex-direction: column;
	padding: 5%;
	text-align: justify;
}
#band
{	
	background-color: #C0CA33;
	text-align: justify;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color:#607D8B;	
}
.competences
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.code
{
	min-width: 20%;
	margin-right:100px;
}
i
{
	color: #C0CA33;
}
.divers
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.dates
{
	flex:2;
	padding-right: 10px; 
}
.descriptions
{
	flex: 4;
}
.empty
{
	flex:1;
}
.langues
{
	flex:3;
}
.comp
{
	font-weight: bold;
}
.centres
{
	display: flex;
	justify-content: space-around;
	padding-right: 80px;
	padding-left: 80px;
	padding-bottom:30px;
}
ul
{
	margin: 0;
}
p
{
	margin:0;
}
h1
{
	font-size: 2.5em;
	margin-bottom:0;
	font-weight: normal;
}
h2
{
	font-size: 1.2em;
	margin-top: 0;
	font-weight: normal;

}
h3
{
	margin-top: 0;
	font-size: 1.5em;
	border-bottom: 2px solid #C0CA33;
	padding: 15px;
}
h4
{
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 0.5em;
}
h5
{
	font-size: 1em;
	margin-top:0.2em;
	margin-bottom: 0.5em;

}
.barre
{
	padding-right:50px;
	padding-left:50px;
}
h6
{
	margin-bottom:25px;
	font-size: 1.5em;
	padding: 5px;
	text-align: center;
	background-color: #78909C;
	color:#C0CA33;
}
img
{
	border-radius: 50%;
}

/*@media screen and (max-width: 1024px)
{
	.band
	{
		flex-direction: column;
		background-color: #FB8C00;
		width: 250px;
		justify-content: space-around;
	}
}
@media screen and (min-width:1023px)
{
	#all
	{
		flex-direction: column;
	}
	#corps
	{
		flex-direction: column;
	}
	.band
	{
		flex-direction: row;
		height: 250px;
		width: 100%;
		justify-content: space-between;
	}
}*/